<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
   xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
   data-namespace-typo3-fluid="true">

<div class="header-search">
  <div class="form-search-wrapper">
    <form action="javascript:;" method="GET" class="form-search slds-form slds-form_compound">
      <f:for each="{vbrands}" as="vbrand">
        <input type="hidden" name="vbrands[{vbrand.uid}]" value="{f:uri.action(pageUid:settings.searchPid, extensionName:'Nano', pluginName:'PageBatterySearchByVehical', controller:'Battery', action: 'search', arguments:'{vbrand:vbrand.uid}')}" />
      </f:for>
      <f:for each="{vmodels}" as="vmodel">
        <input type="hidden" name="vmodels[{vmodel.uid}]" data-vbrand="{vmodel.vbrand.uid}" value="{f:uri.action(pageUid:settings.searchPid, extensionName:'Nano', pluginName:'PageBatterySearchByVehical', controller:'Battery', action: 'search', arguments:'{vbrand:vmodel.vbrand.uid, vmodel:vmodel.uid}')}" />
      </f:for>
      <div class="form-search__wrap">
        <div class="form-search__input">
          <div class="q-search slds-form-element__group">
            <div class="q-search__inner slds-form-element__row slds-grid_vertical-align-center slds-gutters_xxx-small">
              <div class="slds-form-element slds-size_5-of-12">
                <div class="q-search__element">
                  <select name="vbrand" class="form-control fc-vbrand" 
                    data-placeholder="-- Chọn thương hiệu xe --"
                    data-allow-clear="true">
                    <option></option>
                    <f:for each="{vbrands}" as="vbrand">
                      <option value="{vbrand.uid}">{vbrand.title}</option>
                    </f:for>
                  </select>
                </div>
              </div>
              <div class="slds-form-element slds-size_5-of-12">
                <div class="q-search__element">
                  <select name="vmodel" class="form-control fc-vmodel"
                    data-placeholder="-- Chọn dòng xe --"
                    data-allow-clear="true"
                    data-options="{vmodel_options}">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="slds-form-element slds-size_2-of-12">
                <div class="form-search__actions typeahead__button">
                  <button type="submit" class="btn btn-search red">
                    <i class="fa fa-search"></i> <span>Tìm kiếm</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</html>