.main-section {
	min-height: 500px;
}

.nano-top-search{
	padding: 5px 0px 5px 1px;
}
.quick-search {
	background: #fff;
  border-radius: 25px;
  overflow: hidden;
  position:relative;
  padding-left: 25px;
  padding-right: 85px;
}
.quick-search .quick-search-inner {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  align-items: center;
  height:45px;
}
.quick-search .quick-search-heading {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	width: 16.66667%;
}
.quick-search .quick-search-field {
	-webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-bottom: 0;
  width: 41.66667%;
}
.quick-search .quick-search-field .form-control {
	background-color: #fff;
	border-color: #fff;
	font-size: 14px;
	border-radius: 0;
	padding: 5px 5px;
	width:100%;
	height: inherit;
}
.quick-search .quick-search-field-spacer {
	width: 1px;
}
.quick-search .quick-search-field-spacer:before{
	content:"";
	display: inline-block;
	width:1px;
	height:20px;
	background: #e5e5e5;
}
.quick-search .btn-search {
	position: absolute;
	top: 0;
	right: 0;
}
.quick-search .btn-search button {
	background: #484848;
	padding: 0px 27px 0 32px;
	height: 45px;
	line-height: 43px;
	border-radius: 25px;
}    

@media only screen and (max-width: 767px) {
	.nano-top-search {
		position:relative;
	}
	.quick-search {
		padding-left: 10px;
		padding-right: 65px;
	}
	.quick-search .quick-search-inner{
		display:table;
	}
	.quick-search .quick-search-field{
		display:table-cell;
		vertical-align: middle;
		width:50%;
	}
	.quick-search .quick-search-field-spacer{
		margin-top:12px;
	}
	.quick-search .quick-search-heading{
		display:none;
	}
	.quick-search .btn-search button{
		padding-left: 20px;
    padding-right: 20px;
	}
}

.product-box.style-nano {
	height: 300px;
}
.product-box.style-nano .imagebox {
	min-height:300px;
}
.product-box.style-nano .imagebox .box-image{
	line-height: 180px;
	height: 180px;
}
.product-box.style-nano .imagebox .box-content .cat-name a:after{
	right:0;
}
.product-box.style-nano .imagebox .box-content{}
.product-box.style-nano .imagebox .product-name{}
.product-box.style-nano .imagebox .box-bottom{}