@import url("shortcodes/bootstrap.carousel.css");
@import url("shortcodes/nano.form.css");

.main-section {
	min-height: 500px;
	padding:30px 0;
}
.backendlayout-special_start .main-section{
	padding:0;
}
.layout-1 .main-section{
	font-size:16px;
}

header .element-header {
	font-size: 22px;
	font-weight: 300;
	color: #000;
	margin-top: 30px;
	margin-bottom: 20px;
}

.frame-layout-2 header{
	position: relative;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 40px;
  margin-bottom: 40px;
}
.frame-layout-2 header .element-header{
	color: #2d2d2d;
  padding: 0 0;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 8px;
}

.list-paragraph{}
.list-paragraph li{
	margin-bottom: 10px;
}

.nav-wrap{
	display:none;
}
.nav-wrap.loaded{
	display:block;
}

.top-search{
	margin:0;
}
.quick-search {
	background: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  padding-left: 25px;
  padding-right: 100px;
  border: 2px solid #e5e5e5;
  width: 100%;
  height: 48px;
}
.quick-search .quick-search-inner {
	
}
.quick-search .row{
	margin-left:-5px;
	margin-right:-5px;
}
.quick-search .quick-search-col{
	padding-left:5px;
	padding-right:5px;
}
.quick-search .quick-search-heading {
	font-size: 13px;
	font-weight: 500;
	line-height:45px;
	text-transform: uppercase;
	margin:0;
	padding:0;
}
.quick-search .quick-search-field {
	padding: 8px 0;
}
.quick-search .quick-search-field .form-control {
	background-color: #fff;
	border-color: #fff;
	font-size: 14px;
	border-radius: 0;
	padding: 5px 5px;
	width:100%;
	height: inherit;
}
.quick-search .quick-search-field-spacer {
	width: 1px;
}
.quick-search .quick-search-field-spacer:before{
	content:"";
	display: inline-block;
	width:1px;
	height:20px;
	background: #e5e5e5;
}
.quick-search .btn-search {
	position: absolute;
	top: 0;
	right: 0;
}
.quick-search .btn-search button {
	background: #484848;
	padding: 0px 27px 0 32px;
	height: 45px;
	line-height: 43px;
	border-radius: 25px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	height:34px;
	border-radius:3px;	
}

.main-shop .flat-row-title .heading-nano {
	color: #2d2d2d;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
  text-transform:uppercase;
  margin: 0 0 10px;
}

ul.flat-pagination li{
	vertical-align:middle;
}
ul.flat-pagination li a.paginate-btn{
	
}
ul.flat-pagination li a.paginate-btn i{
	display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 16px;
	height: 9px;
}
ul.flat-pagination li a.paginate-btn i.paginate-next{
	background-image: url('../images/icons/right-1.png');
}
ul.flat-pagination li a.paginate-btn i.paginate-prev{
	background-image: url('../images/icons/left-1.png');
}


.product-detail .header-detail .product-name{
	font-size:18px;
	font-weight:600;
	line-height:1.4;
}
.product-detail .nano-terminal-type{
	display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.product-detail .nano-terminal-type.nano-terminal-type--1{
	background-image: url(../images/terminals/terminal_type_1.jpg);
  width: 80px;
  height: 42px;
}
.product-detail .nano-terminal-type.nano-terminal-type--2{
	background-image: url(../images/terminals/terminal_type_2.jpg);
  width: 80px;
  height: 42px;
}
.product-detail .nano-terminal-type.nano-terminal-type--3{
	background-image: url(../images/terminals/terminal_type_3.jpg);
  width: 50px;
  height: 50px;
}
.product-detail .nano-terminal-type.nano-terminal-type--4{
	background-image: url(../images/terminals/terminal_type_4.jpg);
  width: 50px;
  height: 50px;
}

.product-detail .nano-terminal-layout{
	display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
.product-detail .nano-terminal-layout.nano-terminal-layout--1{
	background-image: url(../images/terminals/terminal_layout_1.jpg);
  width: 51px;
  height: 50px;
}
.product-detail .nano-terminal-layout.nano-terminal-layout--2{
	background-image: url(../images/terminals/terminal_layout_2.jpg);
  width: 51px;
  height: 50px;
}
.product-detail .nano-terminal-layout.nano-terminal-layout--3{
	background-image: url(../images/terminals/terminal_layout_3.jpg);
  width: 75px;
  height: 50px;
}
.product-detail .nano-terminal-layout.nano-terminal-layout--4{
	background-image: url(../images/terminals/terminal_layout_4.jpg);
  width: 63px;
  height: 50px;
}
@media (min-width: 768px) {
	#logo .navbar-brand-image img {
		max-width:100%;
	}
}
@media (min-width: 992px) {
	#logo .navbar-brand-image img{
		max-width:185px;		
	}
}
@media only screen and (max-width: 767px) {
	
	.nano-top-search {
		position:relative;
	}
	.quick-search {
		padding-left: 10px;
		padding-right: 70px;
	}
	.quick-search .quick-search-inner{
		
	}
	.quick-search .quick-search-field{
		
	}
	.quick-search .btn-search button{
		padding-left: 20px;
    padding-right: 20px;
	}
}

.product-box.style-nano {
	
}
.product-box.style-nano .imagebox {
	min-height:300px;
}
.product-box.style-nano .imagebox .box-image{
	overflow: hidden;
	line-height: 250px;
	height: 250px;
}
.product-box.style-nano .imagebox .box-content .cat-name a:after{
	right:0;
}
.product-box.style-nano .imagebox .box-content{}
.product-box.style-nano .imagebox .product-name{}
.product-box.style-nano .imagebox .box-bottom{}

.flat-product-detail .flex-control-thumbs{
	margin-top: 30px;
}
.flat-product-detail .flex-control-thumbs li{
	margin-right:15px;
}

.nn-content{
	color: #000;
	font-size:16px;
	font-weight:300;
}
.nn-content .nn-heading{
	font-size: 24px;
  color: #444;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}

ul.list-checked{
	margin:0;
	padding:0;
}
ul.list-checked li{
	background: transparent url(../images/icons/i_hotlinevf.png) no-repeat left top 6px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 4px 0 4px 25px;
}

.checkout-success{
	padding-top: 30px;
  padding-bottom: 30px;
}
.checkout-success .thank-you-note .check-mark {
	width: 80px;
	height: 80px;
	margin: 20px auto 40px;
	display: block;
}
.checkout-success .thank-you-note .check-mark .circle, 
.checkout-success .thank-you-note .check-mark .check{
	stroke: #34a46c;
  stroke-width: 4px;
}
.checkout-success .thank-you-note .sub-title{
	font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.checkout-success .continue-shopping{
	text-align:center;
	margin-top:30px;
}
.checkout-success .continue-shopping a {
	background-image: none;
	background-color: #40c781;
	text-align: center;
	font-size:15px;
	font-weight:500;
	line-height:24px;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	border: 0px solid rgba(0, 0, 0, 0.15);
	border-bottom-width: 2px;
	padding: 10px 25px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.checkout-success .continue-shopping a:hover{
	background-color: #34a46c;
  cursor: pointer;
}
.checkout-info{}
.checkout-info table.info{
	width:100%;
	margin-bottom:12px;
}
.checkout-info table.info thead tr th{
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.checkout-info table.info tr td {
	font-size: 14px;
	padding: 15px 0 0px;
	line-height: 20px;
}
.checkout-info .checkout-infobox{
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-bottom:20px;
}
.checkout-info .checkout-infobox h3{
	font-size: 18px;
  font-weight: 500;
}
.checkout-info .checkout-infobox .checkout-infobox-body{}