<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true">
<f:if condition="{batteries -> f:count()} > 0">
<div class="flat-imagebox">
	<div class="row">
		<div class="col-md-12 col-xs-10">
			<f:if condition="{heading}">
				<div class="flat-row-title">
					<h3>{heading}</h3>
					<f:if condition="{application}">
					<ul class="flat-links list-unstyled">
						<li>
							<f:link.action pageUid="{settings.listPid}" extensionName="Nano" pluginName="PageBatteryList" controller="Battery" action="list" arguments="{application:application.uid}">
								Xem tất cả
							</f:link.action>
						</li>
					</ul>
					</f:if>
				</div>
			</f:if>
		</div>
	</div>
	<div class="product-wrap">
		<div class="tab-item">
			<f:render partial="BatteryList/Grid4Columns" arguments="{batteries: batteries}" />
		</div>
	</div>
</div>
</f:if>
</html>