<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">
<v:asset.script path="EXT:nano/Resources/Public/Nano/javascript/jquery.zoom.min.js" dependencies="jquery" />
<v:asset.script path="EXT:nano/Resources/Public/Nano/javascript/jquery.flexslider-min.js" dependencies="jquery" />
<v:asset.script path="EXT:nano/Resources/Public/Nano/app/battery/details.js" dependencies="main" />

<div class="flat-product-detail style2">
	<div class="row">
		<div class="col-lg-5">
			<f:render partial="BatteryDetails/Images" arguments="{battery:battery}" />
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="product-detail style2">
				<f:render partial="BatteryDetails/HeaderInfo" arguments="{battery:battery}" />
				<div class="box-cart style2">
          <div class="price">
            <f:if condition="{battery.price}">
              <f:then>
                <f:if condition="{battery.priceRegular}">
                  <div class="regular">
                    <f:format.currency currencySign="đ" decimalSeparator="." thousandsSeparator="," decimals="0">{battery.priceRegular}</f:format.currency>
                  </div>
                </f:if>
                <div class="sale"><f:format.currency currencySign="đ" decimalSeparator="." thousandsSeparator="," decimals="0">{battery.price}</f:format.currency></div>
              </f:then>
              <f:else>
                <a href="tel:0903377985" class="sale">0903 377 985</a>
              </f:else>
            </f:if>
          </div>
          <div class="btn-add-cart">
							<f:cObject typoscriptObjectPath="lib.cartProduct.addToCartButton" data="{uid:'{battery.uid}'}"/>
						</div>
					</div>
				<f:render partial="BatteryDetails/HeaderTeaser" arguments="{battery:battery}" />
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="product-detail style3">
				<f:render partial="BatteryDetails/Specifications" arguments="{battery:battery}" />
				<div class="content-detail"></div>
				<div class="footer-detail"></div>
			</div>
		</div>
	</div>
</div>
</html>