<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">
<v:asset.script path="EXT:bootstrap_package/Resources/Public/JavaScript/Libs/jquery.zoom.min.js" dependencies="jquery" />
<article class="product">
  <div class="product__inner slds-grid slds-wrap">
    <div class="slds-col slds-size_12-of-12 slds-large-size_5-of-12">
      <f:render partial="BatteryDetails/Images" arguments="{battery:battery}" />
    </div>
    <div class="slds-col slds-size_12-of-12 slds-large-size_7-of-12">
      <div class="product__body">
        <f:render partial="BatteryDetails/HeaderInfo" arguments="{battery:battery}" />
        
        <div class="product__details">
          <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12 slds-x-large-size_8-of-12">
              <div class="product__section">
                <div class="slds-grid slds-wrap slds-gutters">
                  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
                    <div class="product__price-wrap">
                      <f:if condition="{battery.price}">
                        <f:then>
                          <p class="price-item price-item--final">
                            <span class="price-label">Giá:</span>
                            <span class="price-value"><f:format.currency currencySign="đ" decimalSeparator="." thousandsSeparator="," decimals="0">{battery.price}</f:format.currency></span>
                          </p>
                          <f:if condition="{battery.priceRegular}">
                            <p class="price-item price-item--old">
                              <span class="price-label">Giá thị trường:</span>
                              <span class="price-value"><f:format.currency currencySign="đ" decimalSeparator="." thousandsSeparator="," decimals="0">{battery.priceRegular}</f:format.currency></span>
                            </p>
                          </f:if>
                        </f:then>
                        <f:else>
                          <p class="price-item price-item--final">
                            <span class="price-label">Giá:</span>
                            <span class="price-value">Liên hệ</span>
                          </p>
                        </f:else>
                      </f:if>
                    </div>
                  </div>
                  <div class="slds-col slds-size_12-of-12 slds-medium-size_6-of-12">
                    <div class="product__cart btn-add-cart">
                      <f:cObject typoscriptObjectPath="lib.cartProduct.addToCartButton" data="{uid:'{battery.uid}'}"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product__section">
                <f:render partial="BatteryDetails/Teaser" arguments="{battery:battery}" />
              </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12 slds-x-large-size_4-of-12">
              <div class="product__blocks">
                <div class="product__block">
                  <div class="item guarantee">
                    <i class="fa fa-registered"></i>
                    <p>
                      <a href="https://tiki.vn/store-your-home-store" class="sbold">Ắc quy Nano</a><br/>
                      <span>Cam kết chính hãng 100%</span>
                    </p>
                  </div>
                  <div class="item warranty">
                    <i class="fa fa-shield"></i>
                    <p>
                      <b>Thông tin bảo hành</b><br/>
                      <span>Phiếu bảo hành/Hóa đơn mua hàng (12 tháng)</span>
                    </p>
                  </div>
                </div>
                <div class="product__block">
                  <div class="contact">
                    <div class="item">
                      <i class="fa fa-phone"></i>
                      <p>
                        <b>Liên hệ</b><br /> 
                        <span>HOTLINE: <a href="tel:0903377985">0903 377 985</a></span><br />
                        <small>(8-21h cả T7, CN)</small>
                      </p>
                    </div>
                    <div class="item">
                      <i class="fa fa-envelope"></i>
                      <p>
                        <span class="sbold">Email:</span><br/> 
                        <a href="mailto:acquynano247@gmail.com">acquynano247@gmail.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <f:render partial="BatteryDetails/Specifications" arguments="{battery:battery}" />
        </div>
      </div>
    </div>
  </div>
</article>
</html>